<%- include('../partials/header') %>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
          <form action="/skills/<%= skill.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
            <a href="/skills/<%= skill.id %>"><%= skill.language %></a>
            - 
            <%= skill.level %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
<%- include('../partials/footer') %>