<%- include('../partials/header') %>
    <h1>Skills</h1>
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
            <a href="/skills/<%= skill.id %>"><%= skill.language %></a>
            - 
            <%= skill.level %>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
<%- include('../partials/footer') %>